# Ignore the virtual environment directory
venv/
.venv/

.env

# Other files and directories to ignore
__pycache__/
*.pyc
*.pyo
*.pyd

backend/backend.code-workspace
backend\.vscode\settings.json
backend\.vscode 
.vscode/settings.json

financial_risk_data.json
Loan.csv
loan_risk_model.pkl