fastapi
uvicorn
pydantic
pymongo
python-dotenv
pandas
numpy
joblib
kagglehub
scikit-learn
logging
celery
redis
openai
requests
yfinance
google-api-python-client
google-generativeai
python-jose
pydantic[email]
passlib
